{{!-- index page => index.hbs --}}

{{#> layouts/base}}
    {{!--=================== head content ======================--}}

    {{!--=================== Main content ======================--}}
    {{#*inline "content-block"}}
        <input type="hidden" class="fromDetail" style="display: none" id="{{isFromDetail}}" value="{{userInput}}" >
        <input type="hidden" class="message" value="{{messageFromServer}}">
        <div class="hero-wrap ftco-degree-bg" style="background-image: url('/HWimages/background/bg_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center no-gutters slider-text">
                    <div class="col-md-9 ftco-animate pb-5 text-center">   <!--class="col-lg-8 col-md-6 ftco-animate text-center"-->
                        <div class="text text-center" style="font-size: 18px; color: #0b0b0b;">
                            <h1 class="mb-4">행복워치</h1>
                            <br>돌격, 공격, 지원 경쟁전 점수 및 역할별 추세선! 속한 티어 및 상위권(그마) 티어와 지표 비교 가능!! 자체 랭킹 및 랭커 조회!!!</p>
                            <form action="#" class="search-location mt-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10 align-items-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="text" id="playerName" class="form-control" placeholder="'플레이어명' 혹은 '배틀태그#0000'를 입력해주세요">
                                                <button type="button" id="btn-search"><span class="ion-ios-search"></span></button>  <!---->
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="info-img-box">
                                                <img class="info-img" src="/HWimages/util/info.png">
                                            </div>
                                            <div class="info-text-box-inindexpage">
                                                &emsp;&nbsp;- 최초 검색시 반드시 배틀태그#0000 로 입력해 주시기 바랍니다.<br>- 배틀태그 확인은 블리자드 공식 홈페이지에서 할 수 있습니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mouse">	<!---->
                <a href="#" class="mouse-icon">	<!--mouse-icon 이 이동시키는 function 걸려있음-->
                    <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>	<!--mouse-wheel-->
                </a>
            </div>
        </div>
        <div class = "ban-container">
            <div class = "ban-hero">
                <div class="row justify-content-center">
                    <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                        <span class="subheading">금지 영웅 리스트</span>
                    </div>
                </div>
                <div class="ban-hero-list">

                </div>
            </div>
        </div>
<!--        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--        &lt;!&ndash; 수평형 광고 &ndash;&gt;-->
<!--        <ins class="adsbygoogle"-->
<!--             style="display:block"-->
<!--             data-ad-client="ca-pub-9604831383254278"-->
<!--             data-ad-slot="7443509353"-->
<!--             data-ad-format="auto"-->
<!--             data-full-width-responsive="true"></ins>-->
<!--        <script>-->
<!--            (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--        </script>-->

        <section class="ftco-section goto-here">
            <div class="resultContainer-s">	<!--container-->
<!--                <div style="width: 300px; height: 250px; position: absolute; left: -30px;">  &lt;!&ndash;왼쪽 광고&ndash;&gt;-->
<!--                    <div class="ad-placement"  style="background: none; border: none; position: relative; margin: 0px auto; overflow: hidden; max-width: 300px;">광고 &lt;!&ndash;data-id="59b00d8946e0fb0001722ff0" data-reg="true" data-pos="0" id="59b00d8946e0fb0001722ff0-0"&ndash;&gt;-->
<!--                        <iframe width="300" height="600" allowtransparency="true" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" src="javascript:'<html><body></body></html>'"></iframe>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div style="width: 300px; height: 250px; position: absolute; right: -30px;">  &lt;!&ndash;오른쪽광고&ndash;&gt;-->
<!--                    <div class="ad-placement"  style="background: none; border: none; position: relative; margin: 0px auto; overflow: hidden; max-width: 300px;">광고 &lt;!&ndash;data-id="59b00d8946e0fb0001722ff0" data-reg="true" data-pos="1" id="59b00d8946e0fb0001722ff0-1"&ndash;&gt;-->
<!--                        <iframe width="300" height="600" allowtransparency="true" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" src="javascript:'<html><body></body></html>'"></iframe>-->
<!--                    </div>-->
<!--                </div>-->
                    		<div class="row justify-content-center">
                				<div class="col-md-12 heading-section text-center ftco-animate mb-5">
                					<span class="subheading">플레이어 검색</span>
                				</div>
                        	</div>
                <div class="player-list-container">
                    <div class="not-fount-base row"><div class="not-found-player col-md-12">
                        플레이어를 검색해 주세요. </br>최초 검색시 배틀태그를 정확히 입력해 주세요.
                    </div></div>
                </div>
                <div class="" id="more-button">
                </div>
            </div>

        </section>

    {{/inline}}

    {{!--=================== scripts content ======================--}}
    {{#*inline "scripts-blick"}}
        <script id="player_list" type="text/x-handlebars-template" charset="UTF-8">
            <p class="grid-header"></p>
            <div class="row" id="search-result">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>플레이어</th>
                            <th>플랫폼</th>
                            <th>돌격</th>
                            <th>공격</th>
                            <th>지원</th>
                            <th>승률</th>
                            <th>모스트</th>
                            <th>최근전적갱신</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        \{{#players}}
                        <tr>
                            <td class="align-items-left" href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer; text-align: left;">
                                <img class="profile-img mr-2" src="\{{portrait}}" onerror="this.src = '/HWimages/portrait/default.png';" alt="">
                                <div class="player-name" title="\{{battleTag}}"> \{{battleTag}} <br>Lv. \{{playerLevel}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <div class="player-platform">\{{platform}}</div>
                            </td>

                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{tankRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{tankRatingPoint}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{dealRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{dealRatingPoint}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{healRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{healRatingPoint}}</div>
                            </td>
                            <!--              <td class="text-success"> 15.67% <i class="mdi mdi-arrow-up"></i>-->
                            <!--              </td>-->
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: \{{winRate}}%" aria-valuenow="\{{winRate}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="player-winlose"><div class="wingame">W\{{wingame}}</div><div class="losegame">L\{{losegame}}</div></div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="most-hero" id="most1" src="\{{mostHero1}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                                <img class="most-hero" id="most2" src="\{{mostHero2}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                                <img class="most-hero" id="most3" src="\{{mostHero3}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                            </td>
                            <td>\{{udtDtm}}</td>
                        </tr>
                        \{{/players}}
                        </tbody>
                    </table>
                </div>
            </div>
        </script>

        <script id="more_player_list" type="text/x-handlebars-template" charset="UTF-8">
            \{{#players}}
            <tr>
                <td class="align-items-left" href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer; text-align: left;">
                    <img class="profile-img mr-2" src="\{{portrait}}" onerror="this.src = '/HWimages/portrait/default.png';" alt="">
                    <div class="player-name" title="\{{battleTag}}"> \{{battleTag}} <br>Lv. \{{playerLevel}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <div class="player-platform">\{{platform}}</div>
                </td>

                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{tankRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{tankRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{dealRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{dealRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{healRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{healRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <div class="progress progress-slim">
                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: \{{winRate}}%" aria-valuenow="\{{winRate}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="player-winlose"><div class="wingame">W \{{wingame}}</div><div class="losegame">L \{{losegame}}</div></div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="most-hero" id="most1" src="\{{mostHero1}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                    <img class="most-hero" id="most2" src="\{{mostHero2}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                    <img class="most-hero" id="most3" src="\{{mostHero3}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                </td>
                <td>\{{udtDtm}}</td>
            </tr>
            \{{/players}}
        </script>

        <script id="ban_hero_card" type="text/x-handlebars-template" charset="UTF-8">
            \{{#hero}}
            <div class="ban-col-3 tank-container">
                <div class="rank-role">
                    <img src="/HWimages/role/icon-tank-8a52daaf01.png">
                </div>
                <div class="rank-image">
                    <img class="\{{heroNameTank}}-img hero-round-img" src="\{{srcTank}}" onerror="this.src = '/HWimages/hero/default.png';" alt=""></br>\{{heroNameKRTank}}
                </div>
            </div>
            <div class="ban-col-3 deal-container">
                <div class="rank-role">
                    <img src="/HWimages/role/icon-offense-6267addd52.png">
                </div>
                <div class="rank-image">
                    <img class="\{{heroNameDeal1}}-img hero-round-img" src="\{{srcDeal1}}" onerror="this.src = '/HWimages/hero/default.png';" alt=""></br>\{{heroNameKRDeal1}}
                </div>
            </div>
            <div class="ban-col-3 deal-container">
                <div class="rank-role">
                    <img src="/HWimages/role/icon-offense-6267addd52.png">
                </div>
                <div class="rank-image">
                    <img class="\{{heroNameDeal2}}-img hero-round-img" src="\{{srcDeal2}}" onerror="this.src = '/HWimages/hero/default.png';" alt=""></br>\{{heroNameKRDeal2}}
                </div>
            </div>
            <div class="ban-col-3 heal-container">
                <div class="rank-role">
                    <img src="/HWimages/role/icon-support-46311a4210.png">
                </div>
                <div class="rank-image">
                    <img class="\{{heroNameHeal}}-img hero-round-img" src="\{{srcHeal}}" onerror="this.src = '/HWimages/hero/default.png';" alt=""></br>\{{heroNameKRHeal}}
                </div>
            </div>
            \{{/hero}}
        </script>

        <script src="/js/app/hangbok-home.js" charset="UTF-8"></script>
    {{/inline}}

{{/layouts/base}}