{{!-- ranking page => ranking.hbs --}}

{{#> layouts/base title="랭킹 보기"}}
{{!--=================== head content ======================--}}
    {{#*inline "head-block"}}
        <link rel="stylesheet" href="/fonts/iconfonts/mdi/css/materialdesignicons.css">
    {{/inline}}

    {{!--=================== Main content ======================--}}
    {{#*inline "content-block"}}
        <div class="hero-wrap-s" style="background-image: url('/HWimages/background/bg_5.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center align-items-center no-gutters slider-text-s">
                    <div class="col-md-9 ftco-animate pb-5 text-center">   <!--class="col-lg-8 col-md-6 ftco-animate text-center"-->
                        <div class="text text-center">
                            <form action="#" class="search-location-s mt-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10 align-items-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="text" id="playerName" class="form-control" placeholder="'플레이어명' 혹은 '플레이어명#배틀태그'를 입력해주세요">
                                                <button type="button" id="btn-search"><span class="ion-ios-search"></span></button>  <!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="ftco-section-detail">
            <div class="resultContainer-detail">
                <div class="player-detail-layout col-md-12">
                    <div class="main-container">
                        <!-- js를 통해 플레이어리스트 출력-->
                    </div> <!-- end main-container -->
                </div>

            </div>
            <div class="resultContainer-detail">
                <!-- 랭커보기 -->
                <div class="row justify-content-center pt-5">
                    <div class="col-md-12 heading-section text-center mb-5">
                        <span class="subheading">랭커 보기</span>
                    </div>
                </div>
                <div class="ranking-tab">
                    <div class="total-tab-block col-md-3" onclick="showRankerList('total'); return false;" style="cursor: pointer;">
                        <h2 class="titular total_titular active">종합</h2>
                    </div>
                    <div class="tank-tab-block col-md-3" onclick="showRankerList('tank'); return false;" style="cursor: pointer;">
                        <h2 class="titular tank_titular">돌격</h2>
                    </div>
                    <div class="deal-tab-block col-md-3" onclick="showRankerList('deal'); return false;" style="cursor: pointer;">
                        <h2 class="titular deal_titular">공격</h2>
                    </div>
                    <div class="heal-tab-block col-md-3" onclick="showRankerList('heal'); return false;" style="cursor: pointer;">
                        <h2 class="titular heal_titular">지원</h2>
                    </div>
                </div>
                <div class="player-list-container mb-5">
                    <!-- js를 통해 플레이어리스트 출력-->
                </div>
                <div class="" id="player-list-container-more-button">
                </div>
            </div>
        </section>
    {{/inline}}

    {{!--=================== scripts content ======================--}}
    {{#*inline "scripts-blick"}}
<!--        <script src="/js/Chart.min.js"></script>-->
<!--        <script src="/js/chartjs.addon.js"></script>-->
<!--        <script src="/js/moment.min.js"></script>-->
<!--        <script src="/js/moment-with-locales.min.js"></script>-->

        <script id="our-ranking-list" type="text/x-handlebars-template">
            \{{#list}}
            <div class="\{{className}}-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                <div class="inside-block">
                    <h2 class="titular">\{{title}}</h2>
                    <div class="\{{className}}">
                        <!-- js로 영웅 목록 li 채워 넣는 부분 -->
                    </div>
                </div>
            </div>
            \{{/list}}
        </script>

        <script id="our-ranking-contents" type="text/x-handlebars-template">
            \{{#ranking}}
            <div class="col-4 \{{ranking}}" onclick="playerDetail(this); return false;" attr-u="\{{forUrl}}" style="cursor: pointer;">
                <div class="rank-role">
                    <img src="\{{rankingImgPath}}">
                </div>
                <div class="rank-image">
                    <img src="\{{playerPortrait}}" onerror="this.src ='/HWimages/tier/default.png';" alt="">
                </div>
                <div class="col-12">
                    <div class="ranking-playerName" data-tooltip-text="\{{playerName}}">\{{playerName}}</div>
                    <div class="ranking-score" data-tooltip-text="\{{score}}"><p>\{{score}}</p></div>
                </div>
            </div>
            \{{/ranking}}
        </script>

        <script id="ranking_player_list" type="text/x-handlebars-template" charset="UTF-8">
            <div class="row" id="search-result">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>순위</th>
                            <th>플레이어</th>
                            <th>플랫폼</th>
                            <th>돌격</th>
                            <th>공격</th>
                            <th>지원</th>
                            <th>승률</th>
                            <th>모스트</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        \{{#players}}
                        <tr>
                            <td>\{{ranking}}</td>
                            <td class="align-items-left" href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer; text-align: left;">
                                <img class="profile-img mr-2" src="\{{portrait}}" onerror="this.src = '/HWimages/portrait/default.png';" alt="">
                                <div class="player-name" title="\{{battleTag}}"> \{{battleTag}} <br>Lv. \{{playerLevel}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <div class="player-platform">\{{platform}}</div>
                            </td>

                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{tankRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{tankRatingPoint}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{dealRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{dealRatingPoint}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="player-tier" src="\{{healRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                                <div>\{{healRatingPoint}}</div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: \{{winRate}}%" aria-valuenow="\{{winRate}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="player-winlose"><div class="wingame">W \{{wingame}}</div><div class="losegame">L \{{losegame}}</div></div>
                            </td>
                            <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                                <img class="most-hero" id="most1" src="\{{mostHero1}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                                <img class="most-hero" id="most2" src="\{{mostHero2}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                                <img class="most-hero" id="most3" src="\{{mostHero3}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                            </td>
                        </tr>
                        \{{/players}}
                        </tbody>
                    </table>
                </div>
            </div>
        </script>

        <script id="more_player_list" type="text/x-handlebars-template" charset="UTF-8">
            \{{#players}}
            <tr>
                <td>\{{ranking}}</td>
                <td class="align-items-left" href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer; text-align: left;">
                    <img class="profile-img mr-2" src="\{{portrait}}" onerror="this.src = '/HWimages/portrait/default.png';" alt="">
                    <div class="player-name" title="\{{battleTag}}"> \{{battleTag}} <br>Lv. \{{playerLevel}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <div class="player-platform">\{{platform}}</div>
                </td>

                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{tankRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{tankRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{dealRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{dealRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="player-tier" src="\{{healRatingImg}}" onerror="this.src = '/HWimages/tier/default.png';" alt="">
                    <div>\{{healRatingPoint}}</div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <div class="progress progress-slim">
                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: \{{winRate}}%" aria-valuenow="\{{winRate}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="player-winlose"><div class="wingame">W \{{wingame}}</div><div class="losegame">L \{{losegame}}</div></div>
                </td>
                <td href="javascript:void(0);" onclick="playerDetail(this); return false;" attr-p="\{{isPublic}}" attr-u="\{{forUrl}}" style="cursor: pointer">
                    <img class="most-hero" id="most1" src="\{{mostHero1}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                    <img class="most-hero" id="most2" src="\{{mostHero2}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                    <img class="most-hero" id="most3" src="\{{mostHero3}}" onerror="this.src = '/HWimages/hero/default.png';" alt="">
                </td>
            </tr>
            \{{/players}}
        </script>

        <script src="/js/app/hangbok-header.js"></script>
        <script src="/js/app/hangbok-ranking.js"></script>
    {{/inline}}

{{/layouts/base}}